.header.navbar.navbar-static-top
  .container
    ul.nav.navbar-nav.navbar-right#lang_selecta
      li
        a(href='#' ng-click='changeLanguage("en")') En
      li
        a(href='#' ng-click='changeLanguage("ru")') Ru

.container.container-fluid
  .page-header
    h1(translate='') Address Book
  .row
    .list-group
      .list-group-item(href='#')
        h4.list-group-item-head(translate='') Your contacts:
        p.list-group-item-text
          p
            button.btn.btn-default(type='button' ng-click='add()' id='add_new_contact' data-toggle='tooltip' title='Add' data-placement='top')
              span.glyphicon.glyphicon-plus
      .list-group-item(href='#' ng-repeat='contact in contacts')
        h4.list-group-item-head {{ contact.name }}
        p.list-group-item-text
          address
            {{ contact.address }}
            br
            abbr(title='Phone') Phone:
            {{ contact.phone }}
          address
            a(href='mailto:#') {{ contact.email }}
          p
            .btn-group
              button.btn.btn-default(type='button' href='#' ng-click='show(contact)' data-toggle='tooltip' title='Edit' data-placement='top')
                span.glyphicon.glyphicon-pencil
              button.btn.btn-default(type='button' href='#' ng-click='forget(contact)' data-toggle='tooltip' title='Forget' data-placement='top')
                span.glyphicon.glyphicon-minus
