.header.navbar.navbar-static-top
  .container
    ul.nav.navbar-nav.navbar-right#lang_selecta
      li(ng-class='{active: lang == "en"}')
        a(href='#' ng-click='switchLang()') En
      li(ng-class='{active: lang == "ru"}')
        a(href='#' ng-click='switchLang()') Ru

.container.container-fluid
  .page-header
    h1(translate='') Address Book
  .row
    .panel
      button.btn.btn-default(ng-click='add()' id='add_new_contact') Add
  .row
    ul.list-group(ng-show='!!contacts.length')
      li.list-group-item(ng-repeat='contact in contacts')
        {name: {{ contact.name }}, address: {{ contact.address }}, email: {{ contact.email }} }
        a(href='#' ng-click='show(contact)' class='show-edit-contact') Edit

script(type='text/ng-template' id='contact_modal_popup.html')
  .modal-header
    h4
      {{ contact.name }}
  .modal-body
    form(role='form')
      .form-group(ng-class="{'has-error': !contact.name.length}")
        label(for='input_contact_name') {{ t[lang]['contact']['name'] }}
        input.form-control(id='input_contact_name' ng-model='contact.name' placeholder='anonymous record')
      .form-group(ng-class="{'has-warning': !contact.name.phone.length}")
        label(for='input_contact_phone') {{ t[lang].contact.phone }}
        input.form-control(id='input_contact_phone' ng-model='contact.phone' placeholder='whatsapp only')
      .form-group
        label {{ t[lang].contact.email }}
        input.form-control(type='email' placeholder='woot! enter email!' ng-model='contact.email')

  .modal-footer
    button.btn-primary(type='button' ng-click='close(task)') Ok
